<h1>Support Tickets</h1>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Submitted</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Brush</th>
      <th scope="col">Material</th>
      <th scope="col">Feedback</th>
    </tr>
  </thead>
  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <th scope="row"><%= ticket.created_at.to_s(:date_us) %></th>
        <td><%= ticket.name %></td>
        <td><%= ticket.email %></td>
        <td><%= ticket.brush.name %></td>
        <td><%= ticket.material %></td>
        <td><%= ticket.feedback %></td>
      </tr>
    <% end %>
  </tbody>
</table>
